<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.lzsou.webbrowser">

    <application>
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>